.authentication-container {
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin: 10px auto;
    .googleRedirect{
        display: inline-block;
        align-self: flex-end;
        position: absolute;
        bottom: 0;
        left: 0;
        vertical-align: middle;
        
    }

}